* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #CCE2C2;
    padding: 0 150px;
}

.quiz-logo {
    height: 100px;
    width: 200px;
}

.music-icon {
    height: 30px;
    width: 30px;
}

.question-number {
    width: 100px;
    height: 50px;
    background-color: #FEC33D;
    border-radius: 7px;   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    margin-top: 10px;
    
}

.music-q-no {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 0 30px;
    cursor: pointer;
}

.question-text {
    width: 100%;
    height: 150px;
    border-radius: 13px;
    background-color: #eaf0e7;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-top: 10px;
}

.timer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

#countdown {
    width: 120px;
    text-align: center;
    background-color: #44b845;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 35px;
    font-weight: 600;
    padding: 5px 10px;
    margin-top: 10px;
    box-shadow: inset 0px -5px 0px #75c772;
}

.options-container {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #eaf0e7;
    border-radius: 13px;
}
.option {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 3px solid #d8d8d8;
    padding: 10px 20px;
    margin-top: 10px;
}

